<aside class="left-side sidebar-offcanvas">                
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li id="navbar-request-link">
                <a href="/drivers">
                    <span>Drivers</span>
                </a>
            </li>
            <li id="navbar-request-link">
                <a href="/teams">
                    <span>Teams</span>
                </a>
            </li>
            <li id="navbar-request-link">
                <a href="/races">
                    <span>Races</span>
                </a>
            </li>
        </ul>
    </section>
</aside>